body {
  background-color: #352f5b;
}
.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  border: none;
  background: rgb(0, 0, 0, 0.2);
  max-width: 400px;
  color: #fff;
}
input::placeholder {
  color: gray !important;
}
.todos li {
  color: #fff;
  border: solid 1px rgb(0, 0, 0, 0.2);
  background-color: #423a6f;
}
.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
